 @model ThreeBytes.User.Authentication.Login.Frontend.Models.LoginViewModel
           
@{
    ViewBag.Title = Resources.BrowserTitle;
}

<section id="login">
    <div id="login-container">
        <div class="hero-unit"> 
            <h1>@Resources.Login</h1>
        </div>
        <div class="row">
            <div class="span8 columns">&nbsp;</div>
            <div class="span4 columns">
                <div id="login-form-container">
                    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "login-form", @class="well" }))
                    {
                        <fieldset>
                            @Html.TextBoxFor(model => model.Username, new { placeholder="Username or Email"})
                            @if (!ViewData.ModelState.IsValidField("Username"))
                            {
                                <div class="alert alert-error">
                                    <a class="close" data-dismiss="alert">×</a>
                                    @Html.ValidationMessageFor(model => model.Username)
                                </div>
                            }

                            @Html.PasswordFor(model => model.Password, new { placeholder="Password"}) 
                            <button class="btn btn-primary" data-bind="click: login">Sign in</button>
                            @if (!ViewData.ModelState.IsValidField("Password"))
                             {
                                 <div class="alert alert-error">
                                     <a class="close" data-dismiss="alert">×</a>
                                     @Html.ValidationMessageFor(model => model.Password)
                                 </div>
                             }
                                
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.RememberMe) Remember me <span class="separator">·</span> <a href="#" data-bind="click: raiseForgottenPasswordOpen">Forgotten Password?</a>
                            </label>

                        </fieldset>
                    }
                </div>
                <hr />
                <div id="registation-container">
                    @{ Html.RenderAction("PartialRegister", "Registration"); }
                </div>
            </div>
        </div>
        <div id="login-footer-container" class="page-footer"></div>
    </div>

    @{ Html.RenderAction("ResetPassword", "PasswordManagement"); }
</section>

@{ 
  using (Html.BeginScriptContext())
  {
    Html.AddScriptBlock(@"
        var login = {};

        (function (index) {

            login = index;

            index.login = function () {
                jQuery('#login-form').submit();
            };

            index.raiseForgottenPasswordOpen = function() {
                jQuery(document).trigger('resetPassword');
            };

            jQuery(function () {
                ko.applyBindings(index, jQuery('#login-form-container')[0]);
            });

        } (login));");
  }
}