 @model ThreeBytes.User.Authentication.Login.Frontend.Models.LoginViewModel
           
@{
    ViewBag.Title = Resources.BrowserTitle;
}

<section id="login">
    <div id="login-container" class="account-container">
        <div class="content clearfix">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "login-form" }))
            {
                <h1>Sign in</h1>
                <div class="login-fields">
                    <p>Sign in using your registered account:</p>
                    <div class="field">
                        <label for="username">Username:</label>
                        <input type="text" id="Username" name="Username" value="" placeholder="Username" class="username-field" />
                    </div>
                    @if (!ViewData.ModelState.IsValidField("Username"))
                    {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            @Html.ValidationMessageFor(model => model.Username)
                        </div>
                    }

                    <div class="field">
                        <label for="Password">Password:</label>
                        <input type="password" id="Password" name="Password" value="" placeholder="Password" class="password-field"/>
                    </div>
                    @if (!ViewData.ModelState.IsValidField("Password"))
                    {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    }
                            
                    <div class="login-actions">		
                        <span class="login-checkbox">
                            <input id="RememberMe" name="RememberMe" type="checkbox" class="field login-checkbox" tabindex="4" />
                            <label class="choice" for="RememberMe">Keep me signed in</label>
                        </span>
									
                        <button class="button btn btn-warning btn-large" data-bind="click: login">Sign In</button>			
                    </div>
                            
                    <div class="login-social">
                        <p>Sign in using social network:</p>
				
                        <div class="twitter">
                            <a href="@Url.Action("Login", "Foursquare")">Login with Foursquare</a>	
                        </div>
				
                        <div class="fb">
                            <a href="@Url.Action("Login", "Facebook")">Login with Facebook</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    
    <div class="login-extra">
        Don't have an account? <a href="@Url.Action("Register", "Registration")">Sign Up</a><br/>
        Remind <a href="#" data-bind="click: raiseForgottenPasswordOpen">Password</a>
    </div>
</section>

@{ Html.RenderAction("ResetPassword", "PasswordManagement");}

@{ 
    using (Html.BeginScriptContext())
    {
        Html.AddScriptBlock(@"
        var login = {};

        (function (index) {

            login = index;

            index.login = function () {
                jQuery('#login-form').submit();
            };

            index.raiseForgottenPasswordOpen = function() {
                jQuery(document).trigger('resetPassword');
            };

            jQuery(function () {
                ko.applyBindings(index, jQuery('#login')[0]);
            });

        } (login));");
    }
}