@model ThreeBytes.ProjectHollywood.Thespian.Management.Entities.ThespianManagementThespian

@if (Context.User.Identity.IsAuthenticated && ((ThreeBytesPrincipal)Context.User).IsInAnyRoles(new[] { "Creator", "Admin", "ThespianManager" }))
{
    <div id="delete-thespian-container">
        <div id="delete-thespian-modal" class="modal hide fade">
            <div class="modal-header">
                <a href="#" class="close" data-bind="click: raiseClose">×</a>
                <h3>@Resources.Delete <span data-bind="fadeInText: FirstName"></span> <span data-bind="fadeInText: LastName"></span></h3>
            </div>
            <div id="delete-thespian-form-container" class="modal-body">
                <div data-bind="error: GeneralErrors"></div>
                <p>Are you sure you wish to delete <span data-bind="fadeInText: FirstName"></span> <span data-bind="fadeInText: LastName"></span>?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-bind="click: deleteThespian">@Resources.ConfirmDelete</button>&nbsp;
                <button type="submit" class="btn btn-danger" data-bind="click: raiseClose">@Resources.Cancel</button>&nbsp;
            </div>
        </div>
    </div>

    using (Html.BeginScriptContext())
    {
        Html.AddScriptBlock(@"
        var actor_delete = {};

        (function (index) {

            actor_delete = index;

            var hub = jQuery.connection.thespianManagementDeletionHub;

            var val = ko.setupValidation([], []);
            val.createErrorCollections({General: 0}, index, 'delete-thespian-form-container');

            index.Id = ko.observable();
            index.FirstName = ko.observable();
            index.LastName = ko.observable();

            index.deleteThespian = function (form) {
                jQuery.post('" + @Url.Action("Delete", "OurClients") + @"', { 'id': index.Id() }, function (returnedData) {
                    if (returnedData.IsValid) {
                        jQuery(document).trigger('thespianDeleted', [returnedData.Id]);
                        jQuery(document).trigger('publishProcessingNotification', ['Processing client deletion.', 'We are currently processing your request to delete ' + index.FirstName() + ' ' + index.LastName() + '.']);
                        index.deleteModal.modal('hide');
                    }
                    else {
                        val.rebindValidations({General: 0}, index, returnedData.Errors);
                    }
                });
            };

            index.raiseClose = function () {
                index.deleteModal.modal('hide');
            };

            hub.handleRenamedThespianEventMessage = function(id, newFirstName, newLastName) {
                if (index.Id() != id)
                    return;

                ko.bindingHandlers.fadeInText.highlight = true;

                if (index.FirstName() != newFirstName)
                    index.FirstName(newFirstName);

                if (index.LastName() != newLastName)
                    index.LastName(newLastName);

                ko.bindingHandlers.fadeInText.highlight = false;
            };

            hub.handleDeletedThespianEventMessage = function(id) {
                if (index.Id() != id)
                    return;

                jQuery(document).trigger('publishNotAllowedNotification', ['Thespian No Longer Available.', 'This thespian has been removed by another user. The window will automatically close.']);
                index.deleteModal.modal('hide');
                index.Id(null);
            };

            jQuery(document).bind('thespianDelete', function (event, id) {

                jQuery.getJSON('" + @Url.Action("Get", "ThespianManagement") + @"', { id: id }, function (data) {

                    index.Id(data.Thespian.Id);
                    index.FirstName(data.Thespian.FirstName);
                    index.LastName(data.Thespian.LastName);

                    index.deleteModal.modal('show');
                });
            });

            jQuery(function () {
                ko.applyBindings(index, jQuery('#delete-thespian-container')[0]);
                index.deleteModal = jQuery('#delete-thespian-modal').modal({ backdrop: true, closeOnEscape: true, modal: true, show: false });
            });
        } (actor_delete));");
    }
}