@model ThreeBytes.User.Authentication.Registration.FrontEnd.Models.RegisterViewModel

@{
    ViewBag.Title = Resources.BrowserTitleRegister;
}

<section id="registation">
    <div id="registation-container" class="account-container register">
        <div class="content clearfix">
            @if (Model.Success)
            {
                <h1>@Resources.RegistrationSuccess</h1>
                <p>@string.Format(Resources.WeAreProcessingYourRequest, Model.Email) @Html.ActionLink(Resources.UnlockAccountPage, "VerifyAccount", new { userIdentifier = Model.UserName }).</p>
            }
            else
            {
                using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { id = "registration-form" }))
                {
                    <h1>Create Your Account</h1> 
                
                    <div class="login-social">
                        <p>Sign in using social network:</p>
				
                        <div class="foursquare">
                            <a href="@Url.Action("Login", "Foursquare")">Login with Foursquare</a>
                        </div>
				
                        <div class="fb">
                            <a href="@Url.Action("Login", "Facebook")">Login with Facebook</a>
                        </div>
                    </div>
            
                    <div class="registration-fields">
				
                        <p>Create your free account:</p>
				
                        <div class="field">
                            <label for="UserName">Username:</label>
                            <input type="text" id="UserName" name="UserName" value="" placeholder="Username" class="login" />
                        </div>
                        @if (!ViewData.ModelState.IsValidField("UserName"))
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                @Html.ValidationMessageFor(model => model.UserName)
                            </div>
                        }
				
                        <div class="field">
                            <label for="Email">Email Address:</label>
                            <input type="text" id="Email" name="Email" value="" placeholder="Email" class="login"/>
                        </div>
                        @if (!ViewData.ModelState.IsValidField("Email"))
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                @Html.ValidationMessageFor(model => model.Email)
                            </div>
                        }
				
                        <div class="field">
                            <label for="Password">Password:</label>
                            <input type="Password" id="Password" name="Password" value="" placeholder="Password" class="login"/>
                        </div>
                        @if (!ViewData.ModelState.IsValidField("Password"))
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        }
				
                        <div class="field">
                            <label for="ConfirmPassword">Confirm Password:</label>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="" placeholder="Confirm Password" class="login"/>
                        </div>
				
                    </div>
            
                    <div class="login-actions">						
                        <button class="button btn btn-warning btn-large" data-bind="click: register">Register</button>		
                    </div>
                }
            }
        </div>
    </div>
    
    <div class="login-extra">
	    Already have an account? <a href="@Url.Action("Login", "Login")">Login</a>
    </div>
</section>

@{ 
    if (!Model.Success)
    {
        using (Html.BeginScriptContext())
        {
            Html.AddScriptBlock(@"
        var registration = {};

        (function (index) {

            registration = index;

            index.register = function () {
                jQuery('#registration-form').submit();
            };

            jQuery(function () {
                ko.applyBindings(index, jQuery('#registation-container')[0]);
            });

        } (registration));");
        }
    }
}