@model ThreeBytes.User.Authentication.Registration.FrontEnd.Models.VerifyAccountViewModel

@{
    ViewBag.Title = Resources.BrowserTitleVerifyAccount;
}

<section id="account-verification">
    <div id="account-verification-container" class="account-container">
        <div class="content clearfix">
            @if (Model.Success)
            {
                <h2>@Resources.SuccessfullyVerified</h2> 
                <p>@Resources.YouAreNowAbleTo @Html.ActionLink(Resources.Login, "Login", "Login")</p>
            }
            else
            {
                using (Html.BeginForm("VerifyAccount", "Registration", FormMethod.Post, new { id = "verify-form" }))
                {
                    <h1>Verify Account</h1>
                    <div class="verify-fields">
                        <p>Verify using your registered account:</p>
                        <div class="field">
                            <label for="UserIdentifier">@Resources.UserIdentifier:</label>
                            <input type="text" id="UserIdentifier" name="UserIdentifier" value="" placeholder="User Identifier" class="username-field" />
                        </div>
                        @if (!ViewData.ModelState.IsValidField("UserIdentifier"))
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                @Html.ValidationMessageFor(model => model.UserIdentifier)
                            </div>
                        }

                        <div class="field">
                            <label for="VerifiedCode">@Resources.VerifyCode:</label>
                            <input type="text" id="VerifiedCode" name="VerifiedCode" value="" placeholder="Verify Code" class="password-field" />
                        </div>
                        @if (!ViewData.ModelState.IsValidField("VerifiedCode"))
                        {
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert">×</a>
                                @Html.ValidationMessageFor(model => model.VerifiedCode)
                            </div>
                        }

                        <div class="login-actions">
                            <button class="button btn btn-warning btn-large" data-bind="click: verify">@Resources.Verify</button>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@{ if (!Model.Success)
   {
       using (Html.BeginScriptContext())
       {
           Html.AddScriptBlock(@"
        var verify_view_model = {};

        (function (index) {

            verify_view_model = index;

            index.verify = function () {
                jQuery('#verify-form').submit();
            };

            jQuery(function () {
                ko.applyBindings(index, jQuery('#account-verification-container')[0]);
            });

        } (verify_view_model));");
       }
   } 
}