@model ThreeBytes.ProjectHollywood.Team.Management.Entities.TeamManagementEmployee

@if (Context.User.Identity.IsAuthenticated && ((ThreeBytesPrincipal)Context.User).IsInAnyRoles(new[] { "Creator", "Admin", "TeamManager" }))
{
    <div id="edit-team-employee-container">
        <div id="edit-team-employee-modal" class="modal modal-medium-wide hide fade">
            <div class="modal-header">
                <a href="#" class="close" data-bind="click: raiseClose">×</a>
                <h3>@Resources.Edit <span data-bind="fadeInText: FirstName"></span> <span data-bind="fadeInText: LastName"></span></h3>
            </div>
            <div class="modal-body modal-body-scrollable">
                <div id="team-employee-edit-forms-container">
                    <div data-bind="error: GeneralErrors"></div>
                    <form id="rename-team-employee-form">
                        <fieldset>
                            <div class="clearfix">
                                @Html.LabelFor(model => model.FirstName, Resources.FirstName)
                                <div class="input input-small-margin">
                                    @Html.TextBoxFor(model => model.FirstName, new { @data_val = "true", @data_val_required = "'First Name' should not be empty.", @data_val_length = "'First Name' must be a string with a maximum length of 35.", @data_val_length_max = "35", @data_bind = "value: FirstName" })
                                    <div data-valmsg-for="FirstName" data-valmsg-replace="true" data-bind="error: FirstNameErrors"></div>
                                </div>
                            </div>

                            <div class="clearfix">
                                @Html.LabelFor(model => model.LastName, Resources.LastName)
                                <div class="input input-small-margin">
                                    @Html.TextBoxFor(model => model.LastName, new { @data_val = "true", @data_val_required = "'Last Name' should not be empty.", @data_val_length = "'Last Name' must be a string with a maximum length of 35.", @data_val_length_max = "35", @data_bind = "value: LastName" })  
                                    <button type="submit" class="btn btn-primary" data-bind="click: saveName">@Resources.Rename</button> 
                                    <div data-valmsg-for="LastName" data-valmsg-replace="true" data-bind="error: LastNameErrors"></div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <form id="rename-jobtitle-team-employee-form">
                        <fieldset>
                            <div class="clearfix">
                                @Html.LabelFor(model => model.JobTitle, Resources.JobTitle)
                                <div class="input input-small-margin">
                                    @Html.TextBoxFor(model => model.JobTitle, new { @data_val = "true", @data_val_required = "'Job Title' should not be empty.", @data_val_length = "'Job Title' must be a string with a maximum length of 50.", @data_val_length_max = "50", @data_bind = "value: JobTitle" })
                                    <button type="submit" class="btn btn-primary" data-bind="click: saveJobTitle">@Resources.Promote</button> 
                                    <div data-valmsg-for="JobTitle" data-valmsg-replace="true" data-bind="error: JobTitleErrors"></div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <form id="update-profile-picture-team-employee-form">
                        <div class="row">
                            <div class="span3 columns">
                                <div class="clearfix image">
                                    <label for="team-profile-image-update">Profile Image <input type="file" id="team-profile-image-update" name="team-profile-image-update" /></label>
                                    <div data-bind="error: ProfileImageLocationErrors"></div>
                                    <span class="label label-success" data-bind="visible: HasImageBeenUploaded">Upload Success</span>

                                    <div data-valmsg-for="ProfileImageLocation" data-valmsg-replace="true" data-bind="error: ProfileImageLocationErrors"></div>
                                    <input type="hidden" id="ProfileImageLocation" name="ProfileImageLocation" data-bind = "value: ProfileImageLocation" />
                                    <input type="hidden" id="ProfileThumbnailImageLocation" name="ProfileThumbnailImageLocation" data-bind = "value: ProfileThumbnailImageLocation" />
                                </div>
                            </div>
                            <div class="span3 columns">
                                <div id="team-profile-image-container">
                                    <ul class="thumbnails">
                                        <li class="span3">
                                            <div class="thumbnail">
                                                <img data-bind="attr: { src: ProfileImageUrl() }" />
                                                <div class="caption"></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form id="update-summary-team-employee-form">
                        <fieldset>
                            <div class="clearfix">
                                @Html.LabelFor(model => model.Summary, Resources.Summary)
                                <div class="input input-small-margin">
                                    @Html.TextAreaFor(model => model.Summary, new { @data_bind = "value: Summary" })
                                    <button type="submit" class="btn btn-primary" data-bind="click: saveSummary">@Resources.UpdateSummary</button>
                                    <div data-valmsg-for="Summary" data-valmsg-replace="true" data-bind="error: SummaryErrors"></div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <div data-bind="currentlyViewingComponent: currentViewersViewModel"></div>
                <button class="btn btn-info" data-bind="click: raiseDetails">Details</button>
                <button class="btn btn-danger" data-bind="click: raiseDelete">Delete</button>
                <button class="btn btn-danger" data-bind="click: raiseClose">Close</button>
            </div>
        </div>
    </div>

    using (Html.BeginScriptContext())
    {
        Html.AddScriptBlock(@"
        var team_employee_edit = {};

        (function (index) {

            team_employee_edit = index;

            var hub = jQuery.connection.teamManagementHub;

            var val = ko.setupValidation([], []);
            val.createErrorCollections({FirstName: 0, LastName: 0, JobTitle: 0, Summary: 0, ProfileImageLocation: 0, General: 0}, index, 'team-employee-edit-forms-container');

            index.Id = ko.observable();
            index.FirstName = ko.observable();
            index.LastName = ko.observable();
            index.JobTitle = ko.observable();
            index.ProfileImageLocation = ko.observable();
            index.ProfileThumbnailImageLocation = ko.observable();
            index.Summary = ko.observable();

            index.HasImageBeenUploaded = ko.observable(false);

            index.ProfileImageUrl = ko.computed(function() {
                if(index.ProfileThumbnailImageLocation() != '' && index.ProfileThumbnailImageLocation() != null && index.ProfileThumbnailImageLocation() != typeof('undefined'))
                            return '" + @Url.Action("GetProfileImage", "Team") + @"' + '/' + index.ProfileThumbnailImageLocation();

                return '" + @Url.Content("img/placeholder260x180.gif") + @"';
            });

            var originalFirstName;
            var originalLastName;
            var originalJobTitle;
            var originalSummary;
            var originalProfileImageLocation;
            var originalProfileThumbnailImageLocation;

            index.currentViewersViewModel = new ko.currentlyViewingComponent.viewModel({
                hub: hub,
                id: index.Id,
                modalSelector: '#edit-team-employee-modal'
            });

            index.raiseClose = function () {
                index.editModal.modal('hide');
            };

            index.raiseDelete = function (obj) {
                index.editModal.modal('hide');
                jQuery(document).trigger('teamEmployeeDelete', [obj.Id()]);
            };

            index.raiseDetails = function () {
                jQuery(document).trigger('teamEmployeeDetails', [index]);
                index.editModal.modal('hide');
            }

            index.saveName = function (form) {
                if(!jQuery('#rename-team-employee-form').valid())
                    return;

                jQuery.post('" + @Url.Action("Rename", "Team") + @"', {
                    'id': index.Id(),
                    'firstName': index.FirstName(),
                    'lastName': index.LastName()
                }, function (dataReturned) {
                    if (dataReturned.IsValid) {
                        jQuery(document).trigger('teamEmployeeUpdated', index.Id());
                        jQuery(document).trigger('publishProcessingNotification', ['Processing employee renaming.', 'We are currently processing your request to rename ' + originalFirstName + ' ' + originalLastName + ' to ' + index.FirstName() + ' ' + index.LastName() + '.']);
                    }
                    else {
                        val.rebindValidations({FirstName: 0, LastName: 0, JobTitle: 0, Summary: 0, ProfileImageLocation: 0, General: 0}, index, dataReturned.Errors);
                    }
                });
            };

            index.saveJobTitle = function (form) {
                if(!jQuery('#rename-jobtitle-team-employee-form').valid())
                    return;

                jQuery.post('" + @Url.Action("RenameJobTitle", "Team") + @"', {
                    'id': index.Id(),
                    'jobTitle': index.JobTitle()
                }, function (dataReturned) {
                    if (dataReturned.IsValid) {
                        jQuery(document).trigger('teamEmployeeUpdated', index.Id());
                        jQuery(document).trigger('publishProcessingNotification', ['Processing employee job change.', 'We are currently processing your request to change the job of ' + originalFirstName + ' ' + originalLastName + ' from ' + originalJobTitle + ' to ' + index.JobTitle() + '.']);
                    }
                    else {
                        val.rebindValidations({FirstName: 0, LastName: 0, JobTitle: 0, Summary: 0, ProfileImageLocation: 0, General: 0}, index, dataReturned.Errors);
                    }
                });
            };

            index.saveSummary = function (form) {
                if(!jQuery('#update-summary-team-employee-form').valid())
                    return;

                jQuery.post('" + @Url.Action("UpdateSummary", "Team") + @"', {
                    'id': index.Id(),
                    'summary': index.Summary()
                }, function (dataReturned) {
                    if (dataReturned.IsValid) {
                        jQuery(document).trigger('teamEmployeeUpdated', index.Id());
                        jQuery(document).trigger('publishProcessingNotification', ['Processing employee summary update.', 'We are currently processing your request to update the summary of ' + originalFirstName + ' ' + originalLastName + '.']);
                    }
                    else {
                        val.rebindValidations({FirstName: 0, LastName: 0, JobTitle: 0, Summary: 0, ProfileImageLocation: 0, General: 0}, index, dataReturned.Errors);
                    }
                });
            };

            hub.handleRenamedTeamEmployeeEventMessage = function(id, newFirstName, newLastName) {
                if (index.Id() != id)
                    return;

                ko.bindingHandlers.fadeInText.highlight = true;

                if (index.FirstName() != newFirstName)
                    index.FirstName(newFirstName);

                if (index.LastName() != newLastName)
                    index.LastName(newLastName);

                ko.bindingHandlers.fadeInText.highlight = false;

                originalFirstName = index.FirstName();
                originalLastName = index.LastName();
            };

            hub.handleRenamedTeamEmployeeJobTitleEventMessage = function(id, newJobTitle) {
                if (index.Id() != id)
                    return;

                if (index.JobTitle() == newJobTitle)
                    return;

                ko.bindingHandlers.fadeInText.highlight = true;
                index.JobTitle(newJobTitle);
                ko.bindingHandlers.fadeInText.highlight = false;

                originalJobTitle = index.JobTitle();
            };

            hub.handleUpdatedTeamEmployeeSummaryEventMessage = function(id, newSummary) {
                if (index.Id() != id)
                    return;

                if (index.Summary() == newSummary)
                    return;

                ko.bindingHandlers.fadeInText.highlight = true;
                index.Summary(newSummary);
                ko.bindingHandlers.fadeInText.highlight = false;

                originalSummary = index.Summary();
            };

            hub.handleDeletedTeamEmployeeEventMessage = function(id) {
                if (index.Id() != id)
                    return;

                jQuery(document).trigger('publishNotAllowedNotification', ['Employee No Longer Available.', 'This employee has been removed by another user. The window will automatically close.']);
                index.editModal.modal('hide');
                index.Id(null);
            };

            jQuery(document).bind('teamEmployeeEdit', function (event, id) {

                jQuery.getJSON('" + @Url.Action("Get", "TeamManagement") + @"', { id: id }, function (data) {

                    index.Id(data.Employee.Id);
                    index.FirstName(data.Employee.FirstName);
                    index.LastName(data.Employee.LastName);
                    index.JobTitle(data.Employee.JobTitle);
                    index.Summary(data.Employee.Summary);
                    index.ProfileImageLocation(data.Employee.ProfileImageLocation);
                    index.ProfileThumbnailImageLocation(data.Employee.ProfileThumbnailImageLocation);
                    index.HasImageBeenUploaded(false);

                    originalFirstName = index.FirstName();
                    originalLastName = index.LastName();
                    originalJobTitle = index.JobTitle();
                    originalSummary = index.Summary();
                    originalProfileImageLocation = index.ProfileImageLocation();
                    originalProfileThumbnailImageLocation = index.ProfileThumbnailImageLocation();


                    index.currentViewersViewModel.initialiseCurrentViewers(data.CurrentlyViewingUsers);

                    val.clearValidations({FirstName: 0, LastName: 0, JobTitle: 0, Summary: 0, ProfileImageLocation: 0, General: 0}, index);

                    index.editModal.modal('show');
                });
            });

            jQuery(function () {
                jQuery('#team-profile-image-update').makeAsyncUploader({
                    upload_url: '" + @Url.Action("ImageUpload", "Home") + @"',
                    flash_url: '" + @Url.Content("~/js/libs/swfupload.swf") + @"',
                    button_image_url: '" + @Url.Content("~/img/blankButton.png") + @"',
	                file_types : '*.jpg;*.jpeg;*.png;*.bmp;*.gif',
                    upload_success_handler: function(file, data, response) {
                        var item = jQuery.parseJSON(data);                        

                        if (item.Result.IsValid) {
                            index.ProfileImageLocation(item.Filename);
                            index.ProfileThumbnailImageLocation(item.ThumbnailName);
                            index.HasImageBeenUploaded(true);
                            jQuery.post('" + @Url.Action("UpdateProfileImage", "Team") + @"', {
                                'id': index.Id(),
                                'profileImageLocation': index.ProfileImageLocation() == null ? '' : index.ProfileImageLocation(),  
                                'profileThumbnailImageLocation': index.ProfileThumbnailImageLocation() == null ? '' : index.ProfileThumbnailImageLocation(),  
                            }, function (dataReturned) {
                                if (dataReturned.IsValid) {
                        
                                }
                                else {
                                    val.rebindValidations({FirstName: 0, LastName: 0, JobTitle: 0, Summary: 0, ProfileImageLocation: 0, General: 0}, index, dataReturned.Errors);
                                }
                            });
                        }
                        else {
                            val.rebindValidations({
                                ProfileImageLocation: 0,
                                General: 0
                            }, index, item.Result.Errors);
                        }
                    }
                });

                ko.applyBindings(index, jQuery('#edit-team-employee-container')[0]);
                index.editModal = jQuery('#edit-team-employee-modal').modal({ backdrop: true, closeOnEscape: true, modal: true, show: false });
            });
        } (team_employee_edit));");
    }
}