@model ThreeBytes.User.Authentication.Password.Frontend.Models.ResetPasswordConfirmViewModel

@{
    ViewBag.Title = Resources.BrowserTitleResetPasswordConfirm;
}

<section id="reset-password-confirm">
    <div id="reset-password-confirm-container" class="account-container">
        <div class="content clearfix">
            @if (Model.Success)
            {
                <h2>@Resources.PasswordResetSuccess</h2>
                <p>@Resources.ItMayTakeAFewMoments @Html.ActionLink("Login Page", "Login", "Login")</p>
            }
            else
            {
                <h1>Reset Password</h1>
                <div class="verify-fields">
                    <div class="field">
                        <label for="UserIdentifier">@Resources.UserIdentifier:</label>
                        <input type="text" id="UserIdentifier" name="UserIdentifier" value="" placeholder="User Identifier" class="username-field" />
                    </div>
                    @if (!ViewData.ModelState.IsValidField("UserIdentifier"))
                    {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            @Html.ValidationMessageFor(model => model.UserIdentifier)
                        </div>
                    }

                    <div class="field">
                        <label for="Password">@Resources.NewPassword:</label>
                        <input type="password" id="Password" name="Password" value="" placeholder="Password" class="password-field"/>
                    </div>
                    @if (!ViewData.ModelState.IsValidField("Password"))
                    {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            @Html.ValidationMessageFor(model => model.Password)
                        </div>
                    }

                    <div class="field">
                        <label for="ConfirmPassword">@Resources.ConfirmPassword:</label>
                        <input type="password" id="ConfirmPassword" name="ConfirmPassword" value="" placeholder="Confirm Password" class="password-field"/>
                    </div>
                    @if (!ViewData.ModelState.IsValidField("ConfirmPassword"))
                    {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>
                    }

                    <div class="field">
                        <label for="confirmPassword">@Resources.ResetPasswordCode:</label>
                        <input type="text" id="ResetPasswordCode" name="ResetPasswordCode" value="" placeholder="Reset Password Code" class="password-field"/>
                    </div>
                    @if (!ViewData.ModelState.IsValidField("ResetPasswordCode"))
                    {
                        <div class="alert alert-error">
                            <a class="close" data-dismiss="alert">×</a>
                            @Html.ValidationMessageFor(model => model.ResetPasswordCode)
                        </div>
                    }

                    <div class="login-actions">
                        <button class="button btn btn-warning btn-large" data-bind="click: resetPasswordConfirm">@Resources.ResetPassword</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@{ 
    if (!Model.Success)
    {
        using (Html.BeginScriptContext())
        {
            Html.AddScriptBlock(@"
            var reset_password_confirm = {};

            (function (index) {

                reset_password_confirm = index;

                index.resetPasswordConfirm = function () {
                    jQuery('#reset-password-confirm-form').submit();
                };

                jQuery(function () {
                    ko.applyBindings(index, jQuery('#reset-password-confirm-container')[0]);
                });

            } (reset_password_confirm));");
        }
    }
}