<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@Page.Title</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--  Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS : implied media="all" -->
    @* More info about SquishIt from http://www.codethinked.com/squishit-the-friendly-aspnet-javascript-and-css-squisher *@

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
    @RenderSection("HeadContent", false)
    <!-- More ideas for your <head> here: h5bp.com/docs/#head-Tips -->
    <!-- All JavaScript at the bottom, except for Modernizr and Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->

     <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>

    @Html.Raw(SquishIt.Framework.Bundle.JavaScript()
                                     .Add("~/js/plugins.js")
                                     .Add("~/js/script.js")
                                     .Add("~/js/libs/jquery.tmpl.js")
                                     .Add("~/js/libs/javascript.util.dateformat.js")
                                     .Add("~/js/libs/knockout-1.3.0beta.js")
                                     .Add("~/js/libs/knockout.mapping.js")
                                     .Add("~/js/mylibs/ThreeBytes.Core.Util.JqueryTmplHelpers.js")
                                     .Render("~/js/script_#.js"))
    @* Add other javascript files here if you want them squished on release *@

    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
</head>
<body>

    <div class="container">
        @RenderBody()
    </div>

    <!-- ADDED: Page Level script sections -->
    @RenderSection("ScriptSection", false)

</body>
</html>